In [3]:
#1. Add the number `4` at the 6th index of the list `l`.

l=[1,22,3,44,55,6,11,1200]

l[5] = 4
l

[1, 22, 3, 44, 55, 4, 11, 1200]

In [4]:
#2. Remove the value `44` from the list `l`.

l=[1,22,3,44,55,6,11,1200]
l.remove(44)
l

[1, 22, 3, 55, 6, 11, 1200]

In [5]:
#3. Append the number `88` to the end of the list `l`.  

l=[1,22,3,44,55,6,11,1200]
l.append(88)
l

[1, 22, 3, 44, 55, 6, 11, 1200, 88]

In [6]:
#4. Remove the value at the 2nd index of the list `l`.  


l=[1,22,3,44,55,6,11,1200]
l.pop(1)
l

[1, 3, 44, 55, 6, 11, 1200]

In [8]:
#5. Merge the list `m = [1, 2, 3, 546]` into the list `l`.

l=[1,22,3,44,55,6,11,1200]

m = [1,2,3,546]
l.extend(m)
l

[1, 22, 3, 44, 55, 6, 11, 1200, 1, 2, 3, 546]

STRING

In [13]:
#1. Insert the substring `"Python"` at the 6th index of the string . 

s = 'HelloWorld'
s1 = s[:6]+'python'+s[6:]
s1

'HelloWpythonorld'

In [23]:
#2. Remove the substring `"World"` from the string `s`.  

s = 'HelloWorld'
s.replace('world','')
s

'HelloWorld'

In [26]:
#3. Append the substring `"2024"` to the end of the string `s`.  

s = 'HelloWorld'
s = s + '2024'
print(s)

HelloWorld2024

In [28]:
#4. Remove the character at the 2nd index of the string `s`.  

s = 'HelloWorld'
s = s[:2] + s[3:]
print(s)

HeloWorld

In [30]:
#5. Concatenate the string `t = "Programming"` to the string `s`.

s = 'HelloWorld'
t = 'Programming'
sum = s+t
sum

'HelloWorldProgramming'

Write a function to check if a given string is a palindrome (reads the same forwards and backwards).
Example:
Input: "madam"
Output: True

In [33]:
s = input('enter')
rev = s[::-1]
if s == rev:
    print('palindrome')
else:
    print('not palindrome')

enter malayalam

palindrome

In [37]:
'''Check if String is Anagram
Write a function to check if two strings are anagrams of each other (contain the same characters in any order).
Example:
Input: "listen" and "silent"
Output: True '''

x = input('enter')
y = input('enter')
def anagram(s1, s2):
    return sorted(s1) == sorted(s2)

print(anagram(x,y))

enter listen
enter silent

True

In [39]:
'''input: "hello world"
Output: "Hello World" '''

s = "hello world"
s = s.title()
s

'Hello World'

In [41]:
'''
Input: "Hello World"
Output: "hELLO wORLD"

'''
x = "Hello World"
print(x.swapcase())

hELLO wORLD